html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden; /* prevent scrollbars */
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.full-height {
  background-color: transparent;
  /* 100 * --vh will match the actual viewport height */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titlebar {
  height: 30px;
  background: #329ea3;
  user-select: none;
  display: grid;
  grid-template-columns: auto max-content;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar > .controls {
  display: flex;
}
.titlebar button {
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  background-color: transparent;
}
.titlebar button:hover {
  background: #5bbec3;
}
*[data-tauri-drag-region] {
  app-region: drag;
}
